.searchBar {
    background-image: url("./fondo.jpg");
    background-size: cover;
    height: 70px;
  }
  
  .search_contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  


  .buscador{
    border-radius: 10px;
    background-color: #e8e8e8;
    height: 35px;
    margin-top: 10px;
    width: 500px;
    font-size: 16px;
    color: #8E44AD;
    font-weight: bold;
  }
  



  
  .form {
    position: absolute;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    top: 2px;
    right: 200px;
    border-radius: 10px;
    font-size: 16px;
    color: #8E44AD;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  


  .form:hover {
    background-color: #f78a2a;
  }
  

  
  .error_search{
    position: absolute;
    left: 10px;
    margin-top: 10px;
    color: red;
    font-weight: bold;
    
  }