.filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
  }
  
  .filter_contenedor {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .select_activities,
  .select_population,
  .select_alph,
  .select_all {
    background-color: transparent;
    color: #8E44AD; /* Color celeste claro */
    border: 1px solid transparent; /* Borde transparente */
    font-size: 16px; /* Tamaño de fuente más grande */
    font-weight: bold;
    border-radius: 5px;
  }

  select option {
    font-weight: bold;
  }